div[data-page="bin/define"],
div[data-page="mock/create"] {
	> .panel {
		.panel-heading {
			padding: 20px 15px;
		}

		.panel-body {}

		.panel-footer {
			text-align: right;

			> .btn {
				width: 90px;
			}
		}
	}

	.form-group {
		&.multi {
			> .input-group {
				margin-bottom: 10px;
			}
		}

		> .input-group {
			width: 100%;
		}
		
		> .control-label > .glyphicon {
			margin-left: 3px;
			top: 2px;
		}
	}

	.response-add-button-wrapper {
		text-align: right;
		// margin-bottom: 10px;
	}
	.response-group-wrapper {
		border-bottom: 1px dashed #ccc;
		margin: 20px 0;

		&:last-child {
			border-bottom: none;
		}
	}
}
