body {
	padding-bottom: 70px;
}

.main-header {
	.navbar-header > .navbar-brand {
		color: #23527c;
	}

	.nav.nav-right > li > a {
		color: #2477B2;
	}

	// overwrite
	&.navbar-default .navbar-nav > .active > a, 
	&.navbar-default .navbar-nav > .active > a:hover, 
	&.navbar-default .navbar-nav > .active > a:focus {
		color: #2477B2;
		background-color: #EFF7FD;
	}
}

.main-footer {
  > .container {
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 12px;
    color: #999;
  }
}

.main-container {}

// overwrite bootstrap styles
.input-group.multi {
	> .form-control {
		width: 50%;

		&:last-of-type {
			margin-left: -1px;
		}
	}
}
