body {
	padding-bottom: 64px;
}

.page-index .main-header{background-color:'#fff'}

.main-header {
	background-color:#f5f5f5;
	.navbar-header > .navbar-brand {
		color: #26a2de;
	}

	.nav.nav-right > li > a {
		color: #2477B2;
	}

	// overwrite
	&.navbar-default .navbar-nav > .active > a, 
	&.navbar-default .navbar-nav > .active > a:hover, 
	&.navbar-default .navbar-nav > .active > a:focus {
		color: #2196F3;
		background-color: #eeeeee;
	}
}

.main-footer {
  > .container {
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 12px;
    color: #999;
  }
}

.main-container {}

// overwrite bootstrap styles
.input-group.multi {
	> .form-control {
		width: 50%;

		&:last-of-type {
			margin-left: -1px;
		}
	}
}

// CodeMirror
.CodeMirror {
	border: 1px solid #ccc;
  border-radius: 3px;
  height: 200px;
}
.form-group.has-error {
	.CodeMirror {
		border: 1px solid #e51c23;
	}
}
.cm-s-solarized.cm-s-light {
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	text-shadow: none;
}
.highlight > p {
	line-height: 20px;
	margin: 0 0 4px;
}

// popover 生成的DIV是在body下面，这里把样式在这里定义
.field-tips {
	max-width: 600px;
}
